# What is the Most Popular Star Wars Movie?

<div align="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg" width="300"/>
</div>

<p align="center">‚ú® May the Force be with you! ‚ú®</p>

---

## Table of Contents
1. Introduction
2. Data Collection
3. Data Exploration
    - Initial Observations
    - Samples
    - Unique Values
4. Data Preprocessing
    - Yes or No Columns
    - One-hot encoding columns
    - Ranking Columns

---

## üìù Introduction

This notebook is an analysis of the Star Wars survey to find out the most popular Star Wars movie. We will explore the data, clean it, and use it to answer our main question: which Star Wars film is the fan favorite?

## üìä Data Collection

The data comes from a survey of Star Wars fans conducted using SurveyMonkey. There were 835 responses in total, and the results were uploaded to a [GitHub repository](https://github.com/fivethirtyeight/data/tree/master/star-wars-survey).

When loading the data, we use a special encoding (ISO-8859-1) because the dataset contains some characters that aren't supported by Python's default encoding.

## üîç Data Exploration

### üëÄ Initial Observations

Before diving into detailed analysis, we will first explore the **general information** of the dataset to understand its **structure** and identify any initial issues or patterns. This will help guide our **data cleaning** and **preparation** steps.

In [265]:
import seaborn as sns
import pandas as pd 
import numpy as np
import sys
import os

In [266]:
# load the dataset
df = pd.read_csv('starWars.csv', encoding='ISO-8859-1') # ISO-8859-1 encoding to handle special characters

In [267]:
# print the general information of the dataset
print('*' * 100)
print('The information of the dataset is as follows:')
print(df.info())

****************************************************************************************************
The information of the dataset is as follows:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187 entries, 0 to 1186
Data columns (total 38 columns):
 #   Column                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                         --------------  -----
 0   RespondentID                                                                                                                                   1186 non-null   float64
 1   Have you seen any of the 6 films in the Star Wars franchise?                                                                                   1187 non-null   object
 2   Do you consider yourself to be a fan of the Star Wars film franchise?                                                                          837 non-null    object
 3   Which of the following Star Wars films have you seen? Please select all that apply.                                                            674 non-null    object
 4   Unnamed: 4                                                                                                                                     572 non-null    object
 5   Unnamed: 5                                                                                                                                     551 non-null    object
 6   Unnamed: 6                                                                                                                                     608 non-null    object
 7   Unnamed: 7                                                                                                                                     759 non-null    object
 8   Unnamed: 8                                                                                                                                     739 non-null    object
 9   Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.  836 non-null    object
 10  Unnamed: 10                                                                                                                                    837 non-null    object
 11  Unnamed: 11                                                                                                                                    836 non-null    object
 12  Unnamed: 12                                                                                                                                    837 non-null    object
 13  Unnamed: 13                                                                                                                                    837 non-null    object
 14  Unnamed: 14                                                                                                                                    837 non-null    object
 15  Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                 830 non-null    object
 16  Unnamed: 16                                                                                                                                    832 non-null    object
 17  Unnamed: 17                                                                                                                                    832 non-null    object
 18  Unnamed: 18                                                                                                                                    824 non-null    object
 19  Unnamed: 19                                                                                                                                    826 non-null    object
 20  Unnamed: 20                                                                                                                                    815 non-null    object
 21  Unnamed: 21                                                                                                                                    827 non-null    object
 22  Unnamed: 22                                                                                                                                    821 non-null    object
 23  Unnamed: 23                                                                                                                                    813 non-null    object
 24  Unnamed: 24                                                                                                                                    828 non-null    object
 25  Unnamed: 25                                                                                                                                    831 non-null    object
 26  Unnamed: 26                                                                                                                                    822 non-null    object
 27  Unnamed: 27                                                                                                                                    815 non-null    object
 28  Unnamed: 28                                                                                                                                    827 non-null    object
 29  Which character shot first?                                                                                                                    829 non-null    object
 30  Are you familiar with the Expanded Universe?                                                                                                   829 non-null    object
 31  Do you consider yourself to be a fan of the Expanded Universe?¬å√¶                                                                               214 non-null    object
 32  Do you consider yourself to be a fan of the Star Trek franchise?                                                                               1069 non-null   object
 33  Gender                                                                                                                                         1047 non-null   object
 34  Age                                                                                                                                            1047 non-null   object
 35  Household Income                                                                                                                               859 non-null    object
 36  Education                                                                                                                                      1037 non-null   object
 37  Location (Census Region)                                                                                                                       1044 non-null   object
dtypes: float64(1), object(37)
memory usage: 352.5+ KB
None

---

At first glance, we notice the following about the dataset:
- There are **38 features** ‚Äî we need to **normalize** them.
- Some features are **unnamed** ‚Äî we should determine what these columns **represent**.
- Except for the response ID (a float), all other columns are **strings** - the format is consistent.
- Several columns contain **many null values** - the significant **data preprocessing** will be needed.

Overall, this dataset will require substantial cleaning.  
The next step of the plan is to simplify the dataset for easier analysis:
1. We can make the data a bit easier to analyze by converting 'yes or no' column to a **Boolean**.
2. Investigate unnamed columns, as some may be **one-hot encoded** or represent **rankings**.

---

### üßæ Samples

From our initial observations, it‚Äôs clear that the dataset has a **complex structure** and will require **cleaning** and **restructuring**.

After gaining a general understanding of the dataset‚Äôs structure, we can now look at some sample entries.

In [268]:
# see some examples of the dataset
df.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?¬å√¶,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

---

From the samples above, it is clear that this dataset requires significant cleaning. **It contains a mix of multiple-choice answers, yes-or-no responses, and one-hot encoded columns.**

---

### üîë Unique Values

From the sample rows, we can see that some columns are simple **yes-or-no questions**, some are **one-hot encoded** columns, and others are **multiple choice**. To simplify the dataset, we will ignore the one-hot encoded columns and **focus on exploring the unique values** in each of the remaining columns.

In [269]:
# display the unique answers of each column
print('*' * 100)

# category the columns
one_hot_encoding_columns = ["Which of the following Star Wars films have you seen? Please select all that apply.",
                           "Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.",
                           "Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her."]

# loop through all the columns and then print the unique vallues
for col in df.columns:
    if not col.startswith('Unnamed') and col not in one_hot_encoding_columns:
        print(f"Unique values in '{col}':")
        print(df[col].unique())
        print('*' * 100)

****************************************************************************************************
Unique values in 'RespondentID':
[           nan 3.29288000e+09 3.29287954e+09 ... 3.28837529e+09
 3.28837307e+09 3.28837292e+09]
****************************************************************************************************
Unique values in 'Have you seen any of the 6 films in the Star Wars franchise?':
['Response' 'Yes' 'No']
****************************************************************************************************
Unique values in 'Do you consider yourself to be a fan of the Star Wars film franchise?':
['Response' 'Yes' nan 'No']
****************************************************************************************************
Unique values in 'Which character shot first?':
['Response' "I don't understand this question" nan 'Greedo' 'Han']
****************************************************************************************************
Unique values in 'Are you familiar with the Expanded Universe?':
['Response' 'Yes' nan 'No']
****************************************************************************************************
Unique values in 'Do you consider yourself to be a fan of the Expanded Universe?¬å√¶':
['Response' 'No' nan 'Yes']
****************************************************************************************************
Unique values in 'Do you consider yourself to be a fan of the Star Trek franchise?':
['Response' 'No' 'Yes' nan]
****************************************************************************************************
Unique values in 'Gender':
['Response' 'Male' nan 'Female']
****************************************************************************************************
Unique values in 'Age':
['Response' '18-29' nan '30-44' '> 60' '45-60']
****************************************************************************************************
Unique values in 'Household Income':
['Response' nan '$0 - $24,999' '$100,000 - $149,999' '$25,000 - $49,999'
 '$50,000 - $99,999' '$150,000+']
****************************************************************************************************
Unique values in 'Education':
['Response' 'High school degree' 'Bachelor degree'
 'Some college or Associate degree' nan 'Graduate degree'
 'Less than high school degree']
****************************************************************************************************
Unique values in 'Location (Census Region)':
['Response' 'South Atlantic' 'West South Central' 'West North Central'
 'Middle Atlantic' 'East North Central' 'Pacific' nan 'Mountain'
 'New England' 'East South Central']
****************************************************************************************************

---

**From the unique values, we can see that there are basically two types of columns: "yes or no" and "multiple choice".**

**Yes or no columns:**
- Have you seen any of the 6 films in the Star Wars franchise?
- Do you consider yourself to be a fan of the Star Wars film franchise?
- Are you familiar with the Expanded Universe?
- Do you consider yourself to be a fan of the Expanded Universe?
- Do you consider yourself to be a fan of the Star Trek franchise?

**Multiple choice columns:**
- Gender ‚Äî the respondent's gender
- Age ‚Äî the respondent's age group
- Household Income ‚Äî the respondent's income bracket
- Education ‚Äî the respondent's education level
- Location ‚Äî the respondent's census region

---

## üõ†Ô∏è Data Preprocessing

### ‚úîÔ∏è Yes or No Columns

Currently, the yes-or-no columns use string values (**"Yes"** and **"No"**). To simplify analysis, we will convert these columns to boolean values: **True**, **False**. Using booleans makes it easier to **filter** and **analyze** the data without relying on string comparisons.

We will use the pandas map() method to perform this conversion.

In [270]:
# convert the yes or no answers to boolean values
conversion_map = {
    "Yes": True,
    "No": False,
}

# group the yes or no columns
conversion_columns = [
"Have you seen any of the 6 films in the Star Wars franchise?",
"Do you consider yourself to be a fan of the Star Wars film franchise?",
"Are you familiar with the Expanded Universe?",
"Do you consider yourself to be a fan of the Expanded Universe?¬å√¶",
"Do you consider yourself to be a fan of the Star Trek franchise?"]

# convert the columns to boolean values
for col in conversion_columns:
    df[col] = df[col].map(conversion_map)

In [271]:
df.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?¬å√¶,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,NaN,NaN,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,NaN,NaN,NaN,Response,Response,Response,Response,Response
1,3.292880e+09,True,True,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,True,False,False,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,True,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,True,False,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,False,NaN,False,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,True,True,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,False,NaN,True,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

---

The table above **confirms** that the original "Yes" and "No" string values have been **successfully** converted to boolean values: True and False.

---

### üé¨ One-hot encoding columns

There are several columns represent **a single checkbox question**. The respondent checked off a series of boxes in response to the question,

For example:

- **Which of the following Star Wars films have you seen? Please select all that apply.**
‚Äî Indicates whether the respondent has seen **Star Wars: Episode I ‚Äì The Phantom Menace**.
- **Unnamed: 4** ‚Äî Indicates whether the respondent has seen **Star Wars: Episode II ‚Äì Attack of the Clones**.
- **Unnamed: 5** ‚Äî Indicates whether the respondent has seen **Star Wars: Episode III ‚Äì Revenge of the Sith**.
- **Unnamed: 6** ‚Äî Indicates whether the respondent has seen **Star Wars: Episode IV ‚Äì A New Hope**.
- **Unnamed: 7** ‚Äî Indicates whether the respondent has seen **Star Wars: Episode V ‚Äì The Empire Strikes Back**.
- **Unnamed: 8** ‚Äî Indicates whether the respondent has seen **Star Wars: Episode VI ‚Äì Return of the Jedi**.

For each of these columns, if a cell contains the movie title, it indicates the respondent has **seen** that movie.

We should convert these columns to **boolean values** and give them more descriptive names. Similar to our previous approach, we‚Äôll map the **movie title** to **True** and **NaN** to **False** in each column.

In [272]:
# convert the 'Unnamed' columns to boolean values
for col in df.columns[3:9]:
    df[col] = df[col].notna()

In [273]:
df.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?¬å√¶,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,NaN,NaN,True,True,True,True,True,True,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,NaN,NaN,NaN,Response,Response,Response,Response,Response
1,3.292880e+09,True,True,True,True,True,True,True,True,3,...,Very favorably,I don't understand this question,True,False,False,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,True,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,True,False,True,True,True,False,False,False,1,...,Unfamiliar (N/A),I don't understand this question,False,NaN,False,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,True,True,True,True,True,True,True,True,5,...,Very favorably,I don't understand this question,False,NaN,True,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

Next, we'll need to rename the columns to reflect what they represent. We can use pandas rename() method to do this.

In [274]:
df = df.rename(columns={
    "Which of the following Star Wars films have you seen? Please select all that apply.": "Seen_1",
    "Unnamed: 4": "Seen_2",
    "Unnamed: 5": "Seen_3",
    "Unnamed: 6": "Seen_4",
    "Unnamed: 7": "Seen_5",
    "Unnamed: 8": "Seen_6"})

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187 entries, 0 to 1186
Data columns (total 38 columns):
 #   Column                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                         --------------  -----
 0   RespondentID                                                                                                                                   1186 non-null   float64
 1   Have you seen any of the 6 films in the Star Wars franchise?                                                                                   1186 non-null   object
 2   Do you consider yourself to be a fan of the Star Wars film franchise?                                                                          836 non-null    object
 3   Seen_1                                                                                                                                         1187 non-null   bool
 4   Seen_2                                                                                                                                         1187 non-null   bool
 5   Seen_3                                                                                                                                         1187 non-null   bool
 6   Seen_4                                                                                                                                         1187 non-null   bool
 7   Seen_5                                                                                                                                         1187 non-null   bool
 8   Seen_6                                                                                                                                         1187 non-null   bool
 9   Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.  836 non-null    object
 10  Unnamed: 10                                                                                                                                    837 non-null    object
 11  Unnamed: 11                                                                                                                                    836 non-null    object
 12  Unnamed: 12                                                                                                                                    837 non-null    object
 13  Unnamed: 13                                                                                                                                    837 non-null    object
 14  Unnamed: 14                                                                                                                                    837 non-null    object
 15  Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                 830 non-null    object
 16  Unnamed: 16                                                                                                                                    832 non-null    object
 17  Unnamed: 17                                                                                                                                    832 non-null    object
 18  Unnamed: 18                                                                                                                                    824 non-null    object
 19  Unnamed: 19                                                                                                                                    826 non-null    object
 20  Unnamed: 20                                                                                                                                    815 non-null    object
 21  Unnamed: 21                                                                                                                                    827 non-null    object
 22  Unnamed: 22                                                                                                                                    821 non-null    object
 23  Unnamed: 23                                                                                                                                    813 non-null    object
 24  Unnamed: 24                                                                                                                                    828 non-null    object
 25  Unnamed: 25                                                                                                                                    831 non-null    object
 26  Unnamed: 26                                                                                                                                    822 non-null    object
 27  Unnamed: 27                                                                                                                                    815 non-null    object
 28  Unnamed: 28                                                                                                                                    827 non-null    object
 29  Which character shot first?                                                                                                                    829 non-null    object
 30  Are you familiar with the Expanded Universe?                                                                                                   828 non-null    object
 31  Do you consider yourself to be a fan of the Expanded Universe?¬å√¶                                                                               213 non-null    object
 32  Do you consider yourself to be a fan of the Star Trek franchise?                                                                               1068 non-null   object
 33  Gender                                                                                                                                         1047 non-null   object
 34  Age                                                                                                                                            1047 non-null   object
 35  Household Income                                                                                                                               859 non-null    object
 36  Education                                                                                                                                      1037 non-null   object
 37  Location (Census Region)                                                                                                                       1044 non-null   object
dtypes: bool(6), float64(1), object(31)
memory usage: 303.8+ KB

---

After converting the one-hot encoding columns to **boolean values** and giving them **clear names**, the dataset is now much easier to work with. This step helps us quickly see which movies each respondent has seen and sets us up for more straightforward analysis in the next sections.

---

### üèÜ Ranking Columns

Next, we will try to clean the ranking columns. 

The next six columns ask the respondent to **rank** the Star War movies in order **from least to most favorite**. 1 means the film was the most favorite, and 6 means it was the least favorite. Each of the follwing columns can contain the value 1, 2, 3, 4, 5, 6, or NaN.

- **Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.** - How much the respondent liked Star Wars: Episode I The Phantom Menace
- **Unnamed: 10** - How much the respondent liked Star Wars: Episode II Attack of the Clones
- **Unnamed: 11** - How much the respondent liked Star Wars: Episode III Revenge of the Sith
- **Unnamed: 12** - How much the respondent liked Star Wars: Episode IV A New Hope
- **Unnamed: 13** - How much the respondent liked Star Wars: Episode V The Empire Strikes Back
- **Unnamed: 14** - How much the respondent liked Star Wars: Episode VI Return of the Jedi

Fortunately, these columns don't require much cleaning. We'll need to convert each column to a numeric type, then rename the columns so that we can tell what they represent more easily.

In [276]:
# rename for clarity
df = df.rename(columns={
    "Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.": "ranking_1",
    "Unnamed: 10": "ranking_2",
    "Unnamed: 11": "ranking_3",
    "Unnamed: 12": "ranking_4",
    "Unnamed: 13": "ranking_5",
    "Unnamed: 14": "ranking_6"
})

In [277]:
# Convert ranking columns to float for analysis, skipping the first row
ranking_columns = [
    "ranking_1", "ranking_2", "ranking_3", "ranking_4", "ranking_5", "ranking_6"
]
df.loc[1:, ranking_columns] = df.loc[1:, ranking_columns].astype(float)

In [278]:
df[["ranking_1", "ranking_2", "ranking_3", "ranking_4", "ranking_5", "ranking_6"]].head()

,ranking_1,ranking_2,ranking_3,ranking_4,ranking_5,ranking_6
0,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi
1,3.0,2.0,1.0,4.0,5.0,6.0
2,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,2.0,3.0,4.0,5.0,6.0
4,5.0,6.0,1.0,2.0,4.0,3.0